/*-- scss:defaults --*/

/* fonts */
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;
$presentation-font-size-root: 34px;

/* headings */
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;
$presentation-h1-font-size: 1.8em;
$presentation-h2-font-size: 1.4em;
$presentation-h3-font-size: 1.2em;

/* code */
$code-block-font-size: 0.70em;

/* callouts */
$callout-style-font-size: .5em;
$callout-style-font-weight: 400;


/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

/* ========== Font scaling per slide ========== */
/* Slide con pochissimo testo (headline / takeaway) */
.reveal .slide.hero {
  font-size: 1.20em;
}

/* Slide un po’ più dense (usa con parsimonia) */
.reveal .slide.small {
  font-size: 0.92em;
}

.reveal pre {
  max-height: 55vh;
  overflow-y: scroll;
}


